:root {
    --principal: #048088;
    --principal-oscuro: #02545e;
    --blanco: #ffffff;

}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.color-boton {
    background-color: var(--principal);
}

.color-boton:hover {
    background-color: var(--principal);
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item.dropdown:hover .dropdown-menu a:hover {
    color: var(--principal);
    background-color: #fff;
}

.bg-footer-final {
    background-color: var(--principal);
    color: var(--blanco);
    
}

.fab:hover {
    color: var(--principal);
}


.colorPrincipal {
    color: var(--principal);
    font-size: xx-large;
    font-weight: bold;
}

.btnInicio-Registro {
    background-color: var(--principal);
    color: var(--blanco);
}

.btnInicio-Registro:hover {
    background-color: var(--principal-oscuro);
    color: var(--blanco);
    cursor: pointer;
}

.card {
    border: none;
    transition: transform .5s ease;

}

.card:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.iconos-accion {
    display: flex;
    margin-right: 2rem;
}

.custom-margin {
    margin-right: 2rem;
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.custom-container {
    max-width: 1700px; 
    margin: 0 auto; 
}

.custom-range-sm{
    width: 200px; 
    height: 20px;
}

.subCategoria-Menu{

}
.subCategoria-Menu:hover{
    color: var(--principal);
}

.required {
    color: red; 
    margin-left: 5px; 
}
